
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496725174587'); /* IE9*/
  src: url('iconfont.eot?t=1496725174587#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496725174587') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496725174587') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496725174587#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangchengxitongtubiaozitihuayuanwenjian68:before { content: "\e72f"; }

.icon-fenlei:before { content: "\e66f"; }

.icon-wode:before { content: "\e618"; }

.icon-weiyi:before { content: "\e620"; }

.icon-baozhuanhuan:before { content: "\e670"; }

.icon-chenshanzhuanhuan:before { content: "\e671"; }

.icon-waitao:before { content: "\e67d"; }

.icon-xiepin:before { content: "\e680"; }

.icon-nanshangyi:before { content: "\e682"; }

.icon-nvshangyi:before { content: "\e684"; }

.icon-taozhuang:before { content: "\e68a"; }

.icon-shouye:before { content: "\e604"; }

.icon-lianyiqun:before { content: "\e600"; }

.icon-piyi:before { content: "\e602"; }

